@import '../constants/sizing';
@import '../constants/colours.scss';
@import '../components/movie.scss';

.main-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    font-size: $main-form-font-size;
    color: skyblue;
    // background-image: url(../../images/1.jpg);
    background-repeat: none;
    background-size: cover;
    .current-time{
        color: $main-clock-colour;
    }
}
