@import '../constants/colours.scss';
@import '../constants/sizing.scss';

.display-movies{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(97, 95, 92);
    color: white;
}