@import '../constants/colours.scss';
@import '../constants/sizing.scss';


.search-section{
   /*  display: flex;
    flex-direction: column;
    align-items: center;
    color: #6b5f5f;
     */
    
}
