@import './components/menu';
@import './components/movie';
@import './components//main';
@import './components/search.scss';
@import './components//movie2.scss';
@import './components//movieList.scss';

*{
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}